*{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

$mainWidth: 1220px;

div{
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    padding: 0px;
}

.gray-background {
    background-color: #ececec;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.sales-promotion {
    width: 340px;
    height: 70px;
    display: flex;
    box-sizing: border-box;
}

.coding {
    border: 1px solid #000;
}

.fix-header{
    width: $mainWidth;
    height: 40px;
    background-color: #ECECEC;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.header {
    display: block;
    align-items: center;
}

.search-area {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.menu-area {
    height: 40px;
    margin-top: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.menu-title {
    margin: 0;
    position: absolute;
    top: -36px;
    left: 0px;
    z-index: 1;
}

.menu-title > img {
    width: 200px;
    box-shadow: 0px 10px 9px -1px rgba(0, 0, 0, 0.5);
}

.menu-list {
    padding-top: 17px;
    width: 200px;
}

.menu-list > li {
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
    padding: 0px 12px;
    box-sizing: border-box;
    height: 28px;
}

.menu-list > .group-divider {
    height: 0;
    margin-bottom: 15px;
    position: relative;
}

.menu-list > .group-divider::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    bottom: -8px; 
    background-color: rgba(255, 255, 255, 0.1);
    left: 12px;
    right: 12px;
}

.logo {
    width: 270px;
    font-size: 100px;
    color: #43ADC7;
} 

.search-bar input, .search-bar button {
    box-sizing: border-box;
    height: 32px;
    border: 2px solid #454545;
    line-height: 1;  /* 確保字體不會撐高 */
    vertical-align: middle;
}

.search-bar input {
    width: 350px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-left: 15px;
    font-size: 15px;
} 

.search-bar button {
    width: 90px;
    border: 2px solid #454545;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background: #454545;
    color: #ffffff;
    font: bold 15px / 36px var(--primary-font-family);
}

.sales-promotion > li > a > img {
    display: block;
    width: auto;
    height: 70px;
}

.tab-area {
    float: right;
    display: block;
}

.menu-tab {
    display: flex;
    align-items: flex-end;
    height: 40PX;
}

.menu-tab > li {
    display: block;
    width: fit-content;
    background-color: #EAEAEA;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 2px;
    padding: 8px 15px;
}

.left-menu, .right-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-menu > li:first-child {
    padding: 0px 10px 0px 25px;
}

.menu-bar {
    position: relative;
    padding: 0px 10px 0px 10px;
}

.sales-promotion > li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    line-height: 40px;
}

.header{
    width: $mainWidth;
    height: 160px;
}

.banner{
    height: 370px;
    width: 1220px;
    display: flex;
}

.banner-left{
    width: 200px;
    height: 500PX;
    position: relative;
    display: block;
    background: #515151;
}

.banner-middle > img{
    width: 818px;
    display: block;
}

.banner-right{
    width: 202px;
    display: block;
    margin: 10px 2px 10px 0px;
}

.banner-right-title {
    background-image: url("today-promo.jpg");
    background-repeat: no-repeat;           /* 不重複平鋪 */
    background-size: cover;                 /* 等比例放大，鋪滿容器 */
    background-position: center center;     /* 圖片置中 */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 200px;
    height: 35px;
}

.banner-right-promo > img {
    width: 200px;
    height: 100px;
    display: block;
}

.banner-right-bottom {
    background-color: #FFFFFF;
    padding-bottom: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-1{
    width: 1220px;
    height: 130px;
    padding: 10px 0 0 0;
    display: flex;
}

.content-1 > div > img:first-child {
    margin-left: 210px;
    width: 450px;
    height: 120px;
    display: block;
}

.content-1 > div:not(:first-child) {
    width: 270px;
    height: 120px;
    margin-left: 10px;
}

.content-1 > div > div:first-child {
    width: 270px;
    height: 30px;
    display: block;
    background-size: contain;
}

.content-1 > div > div:not(:first-child) {
    width: 270px;
    height: 90px;
    padding: 10px;
    background-color: #F5F5F5;
}

.new-customer {
    background-image: url(new-customer.png);
}

.TV-shop {
    background-image: url(TV-shop.png);
}

.content-1 > div > div {
    display: flex;
}

.new-customer-video,  .TV-shop-video{
    width: 125px;
    height: 70px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0px 10px 0px 0px;
}

.TV-shop-video {
    width: 70px;
}

.content-1 > div > div > .new-customer-text {
    width: 115px;
    height: 70px;
    display: block;
    padding: 8px 0px;
}

.new-customer-text > a {
    display: block;
    width: 100%;
    height: 18px;
    line-height: initial;
}

.new-customer-text > a:first-child {
    font-weight: bold;
} 

.TV-shop-text-1, .TV-shop-text-2, .TV-shop-text-3 {
    width: 170px;
    display: block;
    height: 18px;
    overflow: hidden;
    line-height: initial;
    font: 12px / 18px BlinkMacSystemFont;
}

.TV-shop-text-1 {
    color: #d62872;
    border: #d62872 solid 1px;
    box-sizing: border-box;
    width: auto;
    padding: 0px 5px;
    width: fit-content;
}

.TV-shop-text-2 {
    box-sizing: border-box;
    width: auto;
    width: fit-content;
    margin: 4px 0 0 0;
}

.TV-shop-text-3 {
    color: #d62872;
    font: normal 20px / 20px BlinkMacSystemFont;
    margin: 0 0 4px 0;
    overflow: initial;
}

.content-2 {
    height: 9009px;
    width: 1220px;
}

.content-2-row1 {
    display: flex;
    width: 1220px;
    height: 570px;
    margin: 40px 0px 0px 0px;
}

.flash-sale {
    display: block;
    width: 550px;
    height: 570px;
    margin: 0px 20px 0px 0px;
}

.flash-sale-title, .hot-sale-title {
    background-image: url(flash-sale-title.png);
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-repeat: no-repeat;           /* 不重複平鋪 */
    background-size: cover;                 /* 等比例放大，鋪滿容器 */
    background-position: center center;     /* 圖片置中 */
}

.flash-sale-content, .hot-sale-content {
    background-color: #F2F2F2;
    height: 510px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hot-today {
    display: block;
    width: 650px;
    height: 570px;
}

.hot-sale-title {
    background-image: url(hot-sale-title.jpg);
}

.hot-sale-content {
    background-color: #FCE7EF; 
    height: 330px;
}

.hot-item {
    margin: 10px 0px 0px 0px;
    border-radius: 10px;
    background-color: #F2F2F2;
    width: 650px;
    display: block;
    height: 170px;
}

.content-2-row2 {
    margin: 30px 0px 0px 0px;
    width: 1220px;
    height: 425px;
    display: flex;
}

.may-like {
    background-image: url(may-like.png);
    margin: 0px 15px 0px 0px;
    width: 480px;
    height: 425px;
    border-radius: 10px;
    background-repeat: no-repeat;           /* 不重複平鋪 */
    background-size: cover;                 /* 等比例放大，鋪滿容器 */
    background-position: center center;     /* 圖片置中 */
}

.everyone-buy {
    width: 725px;
    height: 250px;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.hot-track {
    width: 725px;
    height: 165px;
    margin: 10px 0px 0px 0px;
    border-radius: 10px;
    background-color: #FCE7EF; 
}

.content-2-row3 {
    width: 100%;
    margin: 40px 0px 0px 0px;
    display: block;
    height: 80px;
    background-image: url(content-2-row3.jpg);
    background-repeat: no-repeat;           /* 不重複平鋪 */
    background-size: cover;                 /* 等比例放大，鋪滿容器 */
    background-position: center center;     /* 圖片置中 */
}

.content-2-row4 {
    margin: 40px 0px 0px 0px;
    width: 100%;
}

.hot-menu {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-end; 
    background-image: url(images/hot-list.png);
    background-repeat: no-repeat;           /* 不重複平鋪 */
    background-size: cover;                 /* 等比例放大，鋪滿容器 */
    background-position: center center;     /* 圖片置中 */
    border-bottom: 1px solid #a6a6a6;
}

.hot-menu > li {
    display: block;
    width: fit-content;
    height: 40px;
    padding: 0px 15px;
    font: normal 13px / 20px BlinkMacSystemFont; 
    line-height: 40px;  
}

.hot-contect {
    width: 100%;
    height: 250px;
    background: #F2F2F2;
    padding: 30px 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bank-new > img {
    width: 100%;
    height: 60px;
}

.bank-contect {
    width: 100%;
    height: 130px;
}

.content-2-row6 {
    margin: 30px 0px 0px 0px;
    display: flex;
}

.good-venue {
    width: 752px;
    height: 540px;
    margin: 0px 38px 0px 0px;
}

.good-venue > div:first-child {
    height: 40px;
    width: 752px;
    background: no-repeat center / 100% 100% url(images/good-venue.png);
    border-bottom: 1px solid #a6a6a6;
}

.venue-banner {
    margin: 30px 0px 0px 0px;
    height: 470px;
    width: 752px;
}

.banner-run > img {
    height: 255px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}

.banner-fix > img {
    height: 215px;
    width: 188px;
}

.banner-fix > img:first-child {
    border-bottom-left-radius: 10px;
}

.banner-fix > img:last-child {
    border-bottom-right-radius: 10px;
}

.member-benefit > div:first-child {
    height: 40px;
    width: 430px;
    background: no-repeat center / 100% 100% url(images/member-benefit.png);
    border-bottom: 1px solid #a6a6a6;
}

.member-benefit > div:last-child {
    height: 270px;
    width: 430px;
    padding: 30px 15px 0px 15px
}

.select-brand > div:first-child {
    height: 40px;
    width: 430px;
    background: no-repeat center / 100% 100% url(images/select-brand.png);
    border-bottom: 1px solid #a6a6a6;
}

.select-brand > div:last-child {
    height: 190px;
    width: 430px;
    padding: 20px 25px 10px 25px;
    background: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-2-row7 > div {
    margin: 35px 0px 0px 0px;
    float: left;
    width: 1216px;
    height: 442px;
}

.mouth-promotion, .life-goods, .beauty-care, .furniture, .vedio-book, .health-care, .entertainment, .home-appliances, .CCC, .shoes-bags, .clothes, .food, .large-furniture{
    border: 4px solid #F2195B;
    border-right: 0px;
    border-bottom: 0px;
    box-sizing: content-box;
}

.life-goods, .furniture {
    border-color: #38CCB2;
}

.beauty-care, .entertainment {
    border-color: #F86A6F;
}

.vedio-book {
    border-color: #997D56;
}

.health-care {
    border-color: #62B616;
}

.home-appliances {
    border-color: #0F3B78;
}

.CCC {
    border-color: #4E87C1;
}

.shoes-bags {
    border-color: #774793;
}

.clothes {
    border-color: #F97CC0;
}

.food {
    border-color: #F06922;
}

.large-furniture {
    border-color: #F86A6F;
}

.title {
    height: 40px;
    display: flex;
    border-bottom: 2px solid #FFFFFF;
    box-sizing: content-box;
}

.title > div:first-child {
    width: 137px;
    display: block;
    margin: 0px;
    background-color: #F2195B;
}

.life-goods > .title > div:first-child, .furniture > .title > div:first-child {
    background-color: #38CCB2;
}

.beauty-care > .title > div:first-child, .entertainment > .title > div:first-child {
    background-color: #F86A6F;
}

.vedio-book > .title > div:first-child {
    background-color: #997D56;
}

.health-care > .title > div:first-child {
    background-color: #62B616;
}

.home-appliances > .title > div:first-child {
    background-color: #0F3B78;
}

.CCC > .title > div:first-child {
    background-color: #4E87C1;
}

.shoes-bags > .title > div:first-child {
    background-color: #774793;
}

.food > .title > div:first-child {
    background-color: #F06922;
}

.large-furniture > .title > div:first-child {
    background-color: #F86A6F;
}

.title > div:first-child img {
    width: 137px;
    height: 40px;
}

.title > div:last-child {
    width: 1079px;
    display: block;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    background-color: #F0F0F0;
}

@media screen and (min-width: 1220px) {
}