*{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

$mainWidth: 1220px;

div{
    box-sizing: border-box;
    margin: 0 auto;
    display: block;
    padding: 0px;
}

.gray-background {
    background-color: #ececec;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.sales-promotion {
    width: 340px;
    height: 70px;
    display: flex;
    box-sizing: border-box;
}

.coding {
    border: 1px solid #000;
}

.fix-header{
    width: $mainWidth;
    height: 40px;
    background-color: #ECECEC;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.header {
    display: block;
    align-items: center;
}

.search-area {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.menu-area {
    height: 40px;
    margin-top: 4px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.menu-title {
    margin: 0;
    position: absolute;
    top: -36px;
    left: 0px;
    z-index: 1;
}

.menu-title > img {
    width: 200px;
    box-shadow: 0px 10px 9px -1px rgba(0, 0, 0, 0.5);
}

.menu-list {
    padding-top: 17px;
    width: 200px;
}

.menu-list > li {
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
    padding: 0px 12px;
    box-sizing: border-box;
    height: 28px;
}

.menu-list > .group-divider {
    height: 0;
    margin-bottom: 15px;
    position: relative;
}

.menu-list > .group-divider::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    bottom: -8px; 
    background-color: rgba(255, 255, 255, 0.1);
    left: 12px;
    right: 12px;
}

.logo {
    width: 270px;
    font-size: 100px;
    color: #43ADC7;
} 

.search-bar input, .search-bar button {
    box-sizing: border-box;
    height: 32px;
    border: 2px solid #454545;
    line-height: 1;  /* 確保字體不會撐高 */
    vertical-align: middle;
}

.search-bar input {
    width: 350px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-left: 15px;
    font-size: 15px;
} 

.search-bar button {
    width: 90px;
    border: 2px solid #454545;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background: #454545;
    color: #ffffff;
    font: bold 15px / 36px var(--primary-font-family);
}

.sales-promotion > li > a > img {
    display: block;
    width: auto;
    height: 70px;
}

.tab-area {
    float: right;
    display: block;
}

.menu-tab {
    display: flex;
    align-items: flex-end;
    height: 40PX;
}

.menu-tab > li {
    display: block;
    width: fit-content;
    background-color: #EAEAEA;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 2px;
    padding: 8px 15px;
}

.left-menu, .right-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-menu > li:first-child {
    padding: 0px 10px 0px 25px;
}

.sales-promotion > li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    line-height: 40px;
}

.header{
    width: $mainWidth;
    height: 160px;
}

.banner{
    height: 370px;
    width: 1220px;
    display: flex;
}

.banner-left{
    width: 200px;
    height: 500PX;
    position: relative;
    display: block;
    background: #515151;
}

.banner-middle > img{
    width: 818px;
    display: block;
}

.banner-right{
    width: 202px;
    display: block;
    margin: 10px 2px 10px 0px;
}

.banner-right-title {
    background-image: url("today-promo.jpg");
    background-repeat: no-repeat;           /* 不重複平鋪 */
    background-size: cover;                 /* 等比例放大，鋪滿容器 */
    background-position: center center;     /* 圖片置中 */
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 200px;
    height: 35px;
}

.banner-right-promo > img {
    width: 200px;
    height: 100px;
    display: block;
}

.banner-right-bottom {
    background-color: #FFFFFF;
    padding-bottom: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-1{
    width: 1220px;
    height: 130px;
    padding: 10px 0 0 0;
    display: flex;
}

.content-1 > div > img:first-child {
    margin-left: 210px;
    width: 450px;
    height: 120px;
    display: block;
}

.content-1 > div:not(:first-child) {
    width: 270px;
    height: 120px;
    margin-left: 10px;
}

.content-1 > div > div:first-child {
    width: 270px;
    height: 30px;
    display: block;
    background-size: contain;
}

.content-1 > div > div:not(:first-child) {
    width: 270px;
    height: 90px;
    padding: 10px;
    background-color: #F5F5F5;
}

.new-customer {
    background-image: url(new-customer.png);
}

.TV-shop {
    background-image: url(TV-shop.png);
}

.menu-bar {
    position: relative;
    padding: 0px 10px 0px 10px;
}

@media screen and (min-width: 1220px) {
}